
%div#about_main

  %a{:name => "introduction"}
    :markdown
      ### 公司介紹 
  :markdown

    #### 經營理念 
    
    * 專業、誠信、品格、團隊 
    * 盡心盡力地為客戶服務 
    * 積極地為團隊、家屬、社會作貢獻 
    * 今天最好明天更好 
    
    #### 關於我們
    
    中緬台生態科技有限公司(以下簡稱“SMTET＂)成立於2012年，
    在香港、緬甸仰光、東莞分別設有公司，為促進中ㆍ緬ㆍ台灣
    經濟合作、相互投資、商務往來提供投資諮詢和商務考察服務。
    一直秉著【為客戶提供各種經營難題的解決方案，並確保執行的
    效果，幫助客戶實現效益最大化】的服務宗旨，竭誠為客戶提供
    專業、誠信、優質的服務。
    
  %a{:name => "business"}
    :markdown
      ### 公司業務 
    
  %img{:src => image_path('smtet/business.png')}


  %a{:name => "organization"}
    :markdown
      ### 公司組織
    
  %table
    %tr
      %td.first_col 香港
      %td
        SMTET ECO-TECHNOLOGIES INCORPORATION LTD.
        %br
        中緬台生態科技有限公司   
        
    %tr.blank_row
    %tr
      %td.first_col 緬甸
      %td
        SMTET ECO-TECHNOLOGIES CO. LTD.     
        %br
        (Ecological and Organic Farm)     
        %br
        中緬台生態科技有限公司     
        %br
        (生態有機農場)     
    
    %tr.blank_row
    %tr
      %td.first_col 東莞
      %td 華甸生態科技有限公司 
    
    
  %a{:name => "leaders"}
    :markdown
      ### 公司主要領導人 
    
  %img.boss_image{:src => image_path('smtet/1_boss_photo_1.jpg')}
  %img.boss_image{:src => image_path('smtet/1_boss_photo_2.jpg')}
    
  :markdown
    #### 涂金宗會長   
    東莞市台商投資企業協會萬江分會會長     
    振忠電子進出口有限公司董事長     
    中緬台生態科技有限公司董事長     
    華甸生態科技有限公司董事長     
    華揚發展有限公司副總裁     
    建茂生技有限公司副總裁     
    優傢電子有限公司董事長     
    SMTET Eco-technologies Co.,Ltd董事長     
        
    簡介：     
    國際臺灣工業園區、有機生態農場、納米肥料、高科技指紋機、裸視3D電視、檸檬生技 産業、銷售線路板專用電子材料、咖啡連鎖、醫療科技產業、世界電子市場通路商     
    
    
  %img.boss_image{:src => image_path('smtet/1_boss_photo_3.jpg')}
  %img.boss_image{:src => image_path('smtet/1_boss_photo_4.jpg')}
    
  :markdown
    
    #### 陳宏欽會長   
    東莞市台商投資企業協會厚街分會會長     
    驊陞科技股份有限公司/集團董事長     
    亞格西農業科技股份有限公司/董事長     
    廣東省海峽農業開發有限公司/常務董事     
    東莞市台商投資企業協會-厚街分會會長     
    廣東省海峽兩岸交流促進會農業委員會-常務副會長     
    東莞驊國電子有限公司董事長     
    東莞國貿電子有限公司董事長     
    東莞驊德光聯光纖科技有限公司董事長     
    昆山驊盛電子有限公司董事長     
    郴州驊豐電子有限公司董事長     
