
%div#about_main

  %a{:name => "introduction"}
    :markdown
      ### 公司介紹 
  :markdown

    #### 經營理念 
    
    * 專業、誠信、品格、團隊 
    * 盡心盡力地為客戶服務 
    * 積極地為團隊、家屬、社會作貢獻 
    * 今天最好明天更好 
    
    #### 關於我們
    
    中緬台生態科技有限公司(以下簡稱“SMTET＂)成立於2012年，
    在香港、緬甸仰光、東莞分別設有公司，為促進中ㆍ緬ㆍ台灣
    經濟合作、相互投資、商務往來提供投資諮詢和商務考察服務。
    一直秉著【為客戶提供各種經營難題的解決方案，並確保執行的
    效果，幫助客戶實現效益最大化】的服務宗旨，竭誠為客戶提供
    專業、誠信、優質的服務。
    
  %a{:name => "business"}
    :markdown
      ### 公司業務 
    
  %img{:src => image_path('smtet/business.jpg')}


  %a{:name => "organization"}
    :markdown
      ### 公司組織
    
  %table
    %tr
      %td.first_col 香港
      %td
        SMTET ECO-TECHNOLOGIES INCORPORATION LTD.
        %br
        中緬台生態科技有限公司   
        
    %tr.blank_row
    %tr
      %td.first_col 緬甸
      %td
        SMTET ECO-TECHNOLOGIES CO. LTD.     
        %br
        (Ecological and Organic Farm)     
        %br
        中緬台生態科技有限公司     
        %br
        (生態有機農場)     
    
    %tr.blank_row
    %tr
      %td.first_col 東莞
      %td 華甸生態科技有限公司 
    
  %img{:src => image_path('smtet/team.jpg')}

  :markdown
    我們團隊，精英滙集，會以協作精神和服務精神，目標是提供最優質的產品和服務給客戶。
