
#about_side
  .side_menu_item
    =link_to '公司介紹', '#introduction'
  .spacer
  .side_menu_item
    =link_to '公司業務 ', '#business'
  .spacer
  .side_menu_item
    =link_to '公司組織', '#organization'
  .spacer
  .side_menu_item
    =link_to '公司主要領導人', '#leaders'
  
