
%div#farm_main

  %a{:name => "introduction"}
    :markdown
      ### 商標介紹

  :markdown

    #### 標誌釋義

    標誌圖形採用農夫的形象作為載體,表情生動,笑容可掬,親切憨厚,給人信賴感.      
    標誌文字設計模擬粗狂和樸實的農村風情,厚重清晰,個性獨特.      
    標誌色彩以綠色為基調,體現綠色環保,有機農業等內涵.      
    標誌整體結構居中對齊,左右平衡,傳達出穩重和公平的內涵.      
    
  
  %img.side_image{:src => image_path('smtet/farm_picture.jpg')}

  %a{:name => "summary"}
    :markdown
      ### 綠色生態循環示範農場概述
    
      #### 基地位置
      由仰光前往首都（內比都）高速公路進口起算9.5英里處右側進入約50米即達，由市中心行車約須50分鐘車程。      
            
      #### 基地面積
      總計約280英畝（1,800畝）目前示範農場初期使用面積10英畝，依台灣標準蔬菜農場規劃設計。      
            
      #### 周邊環境
            
      本區域由高速公路入口開始，全是開闊式平原，少量種植蔬果，由入口處
      起算1~7英里已由緬甸政府與日本合作規劃為工業園區，目前部份地段已開
      工興建基礎建設，區域內供電系統尚完整用電無慮，生活用水尚無法供應，
      僅能抽取地下水處理後使用。距離最近的村鎮約12英里，能提供全部生活
      需要機能齊全。
            
      #### ﻿基地簡介
      SMTET示範農場於2013年4月開始試種，2013年5月正式投入生產，主要種植
      葉菜類及部份蔬果類。其餘地方除零星雜種其他作物外尚有250英畝可提供
      擴充或是其他新建農場使用。內部有二大一小三處自湧泉水塘總面積約
      3000平方米，灌溉用水充足，本農場為砂質壤土土質肥沃適合大部份蔬果
      類種植，旁邊約150英畝，﻿邊為畜牧專業用地約150英畝，可提供農牧一體
      的高科技休閒觀光農專業用場地規劃。


  %a{:name => "goal"}
    :markdown
      ### 目標

  %img.goal_image{:src => image_path('smtet/farm_goal1.jpg')}

  :markdown
    #### 核心競爭力：專注於綠色生態循環種植								

    緬甸唯一溫室農場,1800畝耕地可開發利用								
    台灣有機/綠色種植專家團隊打理								
    農業技術與農場管理輸出合作模式								

    #### 推廣目標：創立綠色/有機食品強勢品牌								
    推廣：高品質展示；農莊體驗活動								
    合作：高端品牌/星級酒店聯合活動								
    政府部門及集團高端客戶市場推廣								

    #### 高素質管理團隊								
    								
    台灣大學/屏科大專業畢業生								
    台灣綠色有機種植專家多名								
    高級技術顧問（農業/生物/規劃設計等）								
    物流、法律、財務方面的專業顧問多名		

    
  %img.goal_image{:src => image_path('smtet/farm_goal2.jpg')}
  %img.goal_image{:src => image_path('smtet/farm_goal3.jpg')}
  %img.goal_image{:src => image_path('smtet/farm_goal4.jpg')}
  %img.goal_image{:src => image_path('smtet/farm_goal5.jpg')}
