
%br
.clearfix
  - side_menu_items = { '公司介紹' => '#introduction', 
            '公司業務' => '#business', 
            '公司組織' => '#organization'}
  = render :partial => 'pages/side_menu', :locals => { :items => side_menu_items }
  = render 'pages/about_main'



  
