
%br
%br
%div#contact
  %div.table_div
    %table
      %tr
        %td.first_col 香港
        %td
          SMTET ECO-TECHNOLOGIES INCORPORATION LTD.
          %br
          中緬台生態科技有限公司   
          
      %tr.blank_row
      %tr
        %td.first_col 緬甸
        %td
          SMTET ECO-TECHNOLOGIES CO. LTD.     
          %br
          (Ecological and Organic Farm)     
          %br
          中緬台生態科技有限公司     
          %br
          (生態有機農場)     
      
      %tr.blank_row
      %tr
        %td.first_col 東莞
        %td 華甸生態科技有限公司 

  %img.float_right{:src => image_path('smtet/contact1.jpg')}
  %img{:src => image_path('smtet/contact2.jpg')}
