%body.welcome
  #wrapper
    .tile.tile1
      .title 
    .tile.tile2
      .title 公司簡介
    .tile.tile3
      .title 公開新聞 
    .tile.tile4
      .title 視頻
    .tile.tile5 
      .title 綠色生態循環示範農場
    .tile.tile6
      .title
    .tile.tile7 
      .title 緬甸商務考察團
    .tile.tile8
      .title
    .tile.tile9
      .title
    .tile.tile10
      .title 辦公室/工業區廠房推介
    .tile.tile11
      .title 緬甸投資諮詢
    .tile.tile12
      .title
    .tile.tile13
      .title 聯繫我們
    .tile.tile14
      .title 
    .tile.tile15
      .title 外資註冊
    .tile.tile16
      .title
