
@import "common";

/*  header menu styls */

#menu_header{
}

.menu_bar{
    height:10px;
    background-color:$blue-dark;
}

#menu_logo{
    height:100px;
}

#menu_menu{
    background-color:$blue-dark;
    color:white;
    .current_page {
        background-color:white;
        color:$blue-dark;
    }
    .menu_text {
        float:left;
        width:120px;
        text-align:center;
    }
    a {
        color:inherit;
        text-decoration:none;
    }

}

#menu_images {
    border:1px black solid;
    padding-left:20px;
    #menu_flag{
        height:80px;
        padding-top:10px;
    }
    #menu_company_spirit{
        float:right;
        display:block;
        height:100px;
        padding-right:50px;
    }

    #menu_farm:first-child{
        width:100px;
    }
    #menu_farm{
        float:left;
        display:block;
        height:100px;
        width:27%;

    }
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}


/* about  page  */
#side_menu{
    float:left;
    width:20%;
    .side_menu_item {
        @include linear-gradient-left-right($blue-dark, white);
    }
    .spacer{
        height:10px;
        background-color:white;
    }
    a {
        text-decoration:none;
        color:white;
    }

}

@mixin main_content_div{
    float:left;
    width:70%;
    color:$blue-dark;
    padding-left:30px;

    a[name="introduction"] h3{
        margin-top:0px;
    }

    h3{
        color:white;
    }
}

@mixin contact_table {
    tr.blank_row{
        height:30px;
    }
    td {
        vertical-align:top;
        &.first_col{
            width:100px;
        }
    }

}

#about_main{
    @include main_content_div;
    @include contact_table;

    h3 {
        @include linear-gradient-left-right($blue-dark, white);
    }

    h4 {
        @include linear-gradient-left-right($blue-light, white);
    }

    .boss_image {
        height:200px;
    }

}

#farm_main {
    @include main_content_div;

    h3 {
        @include linear-gradient-left-right($green, white);
    }

    h4 {
        @include linear-gradient-left-right($green-light, white);
    }

    .side_image {
        float:right;
        height:300px;
    }

    .goal_image {
        height:300px;
    }
}

#contact{
    @include contact_table;
    width:70%;
    .table_div {
        width:70%;
        display:inline-block;
    }
    color:$blue-dark;

    .float_right{
        float:right;
    }
    
    td {
        &.first_col{
            @include linear-gradient-left-right($blue-light, white);
        }
    }
    
}

#consult, #registry{
    text-align:center;
    img {
        height:600px;
        display:inline-block;
    }

}
