
@import "common";

/*  header menu styls */

#menu_header{
}

#menu_top_bar{
    height:10px;
    background-color:$blue-dark;
}

#menu_logo{
    height:100px;
}

#menu_menu{
    background-color:$blue-dark;
    color:white;
    .current_page {
        background-color:$orange;
    }
    .menu_text {
        float:left;
        width:120px;
        text-align:center;
    }
    a {
        color:white;
        text-decoration:none;
    }

}

#menu_images {
    border:1px black solid;
    padding-left:20px;
    #menu_flag{
        height:80px;
        padding-top:10px;
    }
    #menu_company_spirit{
        float:right;
        display:block;
        height:100px;
        padding-right:50px;
    }
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}


/* about  page  */
#about_side{
    float:left;
    width:20%;
    .side_menu_item {
        @include linear-gradient-left-right($blue-dark, white);
    }
    .spacer{
        height:10px;
        background-color:white;
    }
    a {
        text-decoration:none;
        color:white;
    }

}
#about_main{
    float:left;
    width:70%;
    color:$blue-dark;
    padding-left:30px;

    a[name="introduction"] h3{
        margin-top:0px;
    }

    h3 {
        color:white;
        @include linear-gradient-left-right($blue-dark, white);
    }

    tr.blank_row{
        height:30px;
    }
    td {
        vertical-align:top;
        &.first_col{
            width:100px;
        }
    }

    .boss_image {
        height:200px;
    }
    
}